      
      
      
      
      <html>
        <head></head>
          <body>
              <table>
                  
                <img src="./content/Images/privacy.png"  width="200" height="200px"></td>
                 </table>
                  <div style="padding-top: 40px;">
                       Welcome to Husna’s Page! <br>

                       
                       
                       Thank you for stopping by!

            This page is all about learning why Privacy and Confidentiality in HealthCare is vital to high quality care. <br> <br>

            
                   You can <a href="about.html">click here</a> to know more about me. 
                   <br><br><br>
                   <strong>Mission</strong> <br>
           
                   My vision is to design a distinctly HealthCare application to maintain Patient Privacy and Confidentiality that infuses all aspects of "Personal Health Information Protection Act". <br>
           

           
                         </div>
                     </body>
                 </html>

