<html>
    <head></head>
    <body>
        <table>
            <tr><img src="./content/Images/privacy.png"  width="200" height="200px"></td>
            
        </table>
        <div style="padding-top: 40px;">
            <h2>Services</h2>
            <ol>
                <li>Web Application Development</li>
                <li>Healthcare Data Analysis</li>
                <li>SQL Server Management</li>
            </ol>
        </div>
    </body>
</html>